[flake8]
max-line-length = 127
max-complexity = 15
exclude = 
    venv,
    build,
    dist,
    .venv,
    __pycache__,
    .git,
    .pytest_cache,
    logs,
    elk

ignore = 
    E203,
    E501,
    W503,
    F401

per-file-ignores =
    __init__.py:F401
    tests/*:F401